@import 'vars';
@import 'system-font-css/system-font.scss';

* {
  margin-bottom: 0;
  margin-top: 0;

  + * {
    margin-top: $vertical-rhythm;
  }
}

html {
  background-color: $white;
  background-image: url(./goat.svg), linear-gradient(to bottom, $white-dark, $white 10%);
  background-position: top right, 0 0;
  background-repeat: no-repeat;
  background-size: 15%, 100%;
  border-top: 1px solid $purple;
  color: $black;
  font: 20px/1.5 system-ui;
}

li,
script {
  margin-top: initial;
}

body {
  margin: 0 auto 3rem;
  max-width: 600px;
  width: 90%;
}

::-moz-selection {
  background: $purple-light;
}

::selection {
  background: $purple-light;
}

h1 {
  font-size: 2rem;
}

.intro {
  font-size: 1.15rem;
  font-weight: 300;
}

strong {
  color: $purple;
  font-weight: 600;
}

a {
  color: $blue;
  transition: color .2s ease-in-out;

  &:hover {
    color: $blue-dark;
  }

  &:visited {
    color: $purple;
  }
}

span[title='¯\\\_(ツ)_/¯'] {
  white-space: nowrap;
}

hr {
  border: 0;
  border-top: 1px solid $purple-light;

  &,
  + * {
    margin-top: $vertical-rhythm * 2;
  }

  &:last-of-type {
    &::before {
      background-image: $goat, linear-gradient(to right, rgba($white, 0), $white 20%, $white 80%, rgba($white, 0));
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      content: '';
      font-size: 3rem;
      height: 3rem;
      left: 50%;
      padding-left: $vertical-rhythm * 2;
      padding-right: $vertical-rhythm * 2;
      position: absolute;
      transform: translate(-50%, -50%);
    }

    &,
    + * {
      margin-top: $vertical-rhythm * 3;
    }
  }
}

footer {
  ol {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    padding-left: 0;
  }
}

.hashtag {
  color: $purple;
}

@media (min-width: 700px) {
  body {
    margin: 6rem auto;
  }

  hr {
    $excess-width: 15%;

    margin-left: -$excess-width / 2;
    width: 100% + $excess-width;
  }
}
